.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: $card-border-radius;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: $margin-vertical;
}

.card-title,
.card-text {
    margin-bottom: $margin-vertical;
}

.card-header:first-child {
    border-radius: calc(#{$border-radius} - 1px) calc(#{$border-radius} - 1px) 0 0;
}

.card-header {
    padding: $margin;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
