.form-container {
  max-width: $form-container;
}

.form-vertical,
.form-horizontal {
  margin-top: $margin-vertical;
  margin-bottom: $margin-vertical;
}

.form-group {
  margin-top: $margin-vertical;
  margin-bottom: $margin-vertical;

  label {
    display: block;
  }

  input,
  textarea,
  select {
    width: calc(100% - #{(2 * $border-radius) + (2 * $form-margin-horizontal)});
    padding: $form-margin;
    font-family: inherit;
  }

  select {
    width: 100% !important;
  }
}

.form-horizontal {
  .form-group {
    label {
      display: inline-block;
    }

    input,
    textarea,
    select {
      width: auto;
    }
  }
}

.form-check {
  position: relative;
  display: block;
  padding-left: ($margin-horizontal * 2);
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: $margin-horizontal;
}

.form-check-inline .form-check-input {
  width: auto;
  margin-top: 0;
  margin-right: ($margin-horizontal / 2);
  margin-left: 0;
}
