$base: #107dac;
$dark: #005073;
$light: #71c7ec;
$danger: #721c24;

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

$margin-horizontal: 0.75em;
$margin-vertical: 0.5em;
$margin: $margin-vertical $margin-horizontal;
$margin-narrow: .25rem .5rem;

$border-radius: 4px;
$border-width: 1px;

$form-container: 400px;
$form-margin-horizontal: 4px;
$form-margin-vertical: 2px;
$form-margin: $form-margin-vertical $form-margin-horizontal;

$card-border-radius: 0.25rem;

// Navs

// scss-docs-start nav-variables
$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-font-size:                null !default;
$nav-link-font-weight:              null !default;
$nav-link-color:                    $base !default;
$nav-link-hover-color:              $dark !default;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;


// popup
$popup-border-radius: 5px;
$popup-padding: 1rem;
$popup-close-position: $popup-padding;
$popup-close-size: calc(2 * $popup-padding);
