$base: #107dac;
$dark: #005073;
$light: #71c7ec;

$margin-horizontal: .75em;
$margin-vertical: .5em;
$margin: $margin-vertical $margin-horizontal;

$border-radius: 2px;

$form-container: 400px;
$form-margin-horizontal: 4px;
$form-margin-vertical: 2px;
$form-margin: $form-margin-vertical $form-margin-horizontal;
