$base: #107dac;
$dark: #005073;
$light: #71c7ec;
$danger: #721c24;

$margin-horizontal: 0.75em;
$margin-vertical: 0.5em;
$margin: $margin-vertical $margin-horizontal;
$margin-narrow: .25rem .5rem;

$border-radius: 2px;

$form-container: 400px;
$form-margin-horizontal: 4px;
$form-margin-vertical: 2px;
$form-margin: $form-margin-vertical $form-margin-horizontal;

$card-border-radius: 0.25rem;
